body {
    background-color: #f4f2f2;
}

.sectionSpacing {
    margin-bottom: 80px;
}

.flexContainer {
    display: flex;
    align-items: center;
}

.lamp {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.lamp-red {
    background-color: red;
}
.lamp-green {
    background-color: green;
}